<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Digitalclaim Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage" />
            <text outputFile="build/coverage.txt" />
            <clover outputFile="build/logs/clover.xml" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml" />
    </logging>
    <php>
        <env name="AZURE_QUEUE_DRIVER" value="azurepush" />
        <env name="AZURE_QUEUE_PROTOCOL" value="http" />
        <env name="AZURE_QUEUE_ACCOUNT_NAME" value="devstoreaccount1" />
        <env name="AZURE_QUEUE_KEY"
            value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==" />
        <env name="AZURE_QUEUE_NAME" value="package-test-queue" />
        <env name="AZURE_QUEUE_ENDPOINT" value="http://127.0.0.1:10001/devstoreaccount1" />
    </php>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>